body {
  min-height: 100%;
  max-width: 100%;
  background: rgb(27, 27, 25);
}
canvas {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  display : block;
}
.intro {
  color: #ccc;
  padding: 0 20px;
}
.title {
  font-size: 50px;
  font-weight: 800;
}